COUNTER_URL=https://counter.trustipay.online
CENTRAL_LEDGER_URL=http://central-ledger-service:8001
FRAUD_MODEL_URL=http://fraud-model-service:8002
FIREBASE_CREDENTIALS_JSON={"type":"service_account","project_id":"...","private_key_id":"...","private_key":"-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----\n","client_email":"...","client_id":"...","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token"}
SYNC_INTERVAL=5
